 .DeleteDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 35rem;
    border-radius: 1rem;
  }
  
  .DeleteTitle {
    color: black;
    font-family: "Bruno Ace", cursive;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 1rem;
    max-width: 35rem;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .DeleteDiv li{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .DeleteDiv h3 {
    width: 100%;
    max-width: 20rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    color: black;
    font-size: 1.3rem;
    font-family: "Bruno Ace", cursive;
  }

  .DeleteDiv p {
    width: 100%;
    max-width: 5rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(7px);
    color: black;
    font-size: 1.3rem;
  }
  
  .DeleteDiv button {
    display: block;
    width: 100%;
    max-width: 10rem;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 2px solid black;
    border-radius: 7rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 1rem;
  }
  
  .DeleteDiv button:hover {
    background-color: rgb(235, 86, 86);
  }
  