.homeCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-size: 80vw;
  background-repeat: no-repeat;
  background-position: 50% 75%;
  background-blend-mode: multiply;
}

.home1 {
  background-color: #ffb400;
  background-image: url('../image/m1.webp');
}

.home2 {
  background-color: #d43b3b;
  background-image: url('../image/m2.webp');
}

.home3 {
  background-color: #3484d5;
  background-image: url('../image/m3.webp');
}

.home4 {
  background-color: #7857d5;
  background-image: url('../image/m4.webp');
}

.homeCta {
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-8rem);
}

.homeTitle {
  font-family: "Bruno Ace", cursive;
  -webkit-text-stroke: 2px;
  letter-spacing: 0.4rem;
  color: white;
  filter: drop-shadow(-1px 4px 4px #00000075);
  border-bottom: 2px solid white;
  font-size: 3rem;
  text-align: center;
  margin: 0 1rem;
}

.homeSub {
  color: white;
}

.actionBtn {
  border: none;
  background-color: rgb(151, 191, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  filter: drop-shadow(-1px 4px 4px #00000075);
}

.actionBtn:hover {
  transform: scale(1.1);
  background-color: rgb(123, 156, 12);
}

.swiper {
  height: 100dvh;
}


.swiper-slide-active {
  transition: opacity 1s ease-in-out !important;
}

.swiper-pagination {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  bottom: 2rem !important;
  padding: 0 1rem;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 1px solid white !important;
  opacity: 1 !important;
  transform: scale(1.2);
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.test {
  width: 100%;
  height: 100vh;
  content: "";
  background-color: rgb(141, 141, 141);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test1 {
  background-color: rgb(255, 255, 255);
}
.test2 {
  background-color: rgb(202, 202, 202);
}
.test3 {
  background-color: rgb(136, 136, 136);
}
.test4 {
  background-color: rgb(114, 114, 114);
}

/* TABLET */

@media (min-width: 768px) {
  .homeCont {
    background-size: 80vw;
    background-position: 50% 50%;
  }
  
  .homeCta {
    transform: translateY(0);
  }

  .actionBtn {
    margin-top: 0;
  }

  .home1 {
    background-color: rgb(255, 180, 0);
    background-image: url('../image/home1.webp');
  }
  
  .home2 {
    background-color: rgb(212, 59, 59);
    background-image: url('../image/home2.webp');
  }
  
  .home3 {
    background-color: rgb(52 132 213);
    background-image: url('../image/home3.webp');
  }
  
  .home4 {
    background-color: rgb(120 87 213);
    background-image: url('../image/home4.webp');
  }
}

/* TABLET */

/* DESKTOP */

@media (min-width: 1024px) {
  .homeCont {
    background-size: 60vw;
  }
}

/* DESKTOP */