.homeCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: rgb(255, 180, 0);
}

.homeTitle {
  font-family: 'Bruno Ace', cursive;
  -webkit-text-stroke: 2px;
  letter-spacing: 0.4rem;
  color: white;
}

.actionBtn {
  border: none;
  background-color: rgb(151, 191, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.actionBtn:hover {
    transform: scale(1.1);
    background-color: rgb(123, 156, 12);
}
