.myReservationsCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservationsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.reservationsEmpty h1 {
  font-family: "Bruno Ace", cursive;
  -webkit-text-stroke: 0.5px;
  border-bottom: 2px solid black;
  opacity: 0;
  animation: fadeInTop 0.2s ease-in-out forwards;
}

.reservationsEmpty p {
  opacity: 0;
  animation: fadeInTop 0.2s ease-in-out 0.1s forwards;
}

.myReservations {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
  width: 90%;
  max-width: 35rem;
}

.myReservations .title {
  font-family: "Bruno Ace", cursive;
  -webkit-text-stroke: 0.5px;
  opacity: 0;
  animation: fadeInTop 0.2s ease-in-out forwards;
  text-align: center;
}

.myReservations .desc {
  color: rgb(168, 168, 168);
  text-align: center;
  -webkit-text-stroke: 0.5px;
  opacity: 0;
  margin-bottom: 0.5rem;
  animation: fadeInTop 0.2s ease-in-out 0.1s forwards;
}

.header .divider {
  width: 100%;
  background-color: black;
  opacity: 0;
  animation: fadeInTop 0.2s ease-in-out 0.2s forwards;
}

.reservationSwiper {
  width: 90%;
  max-width: 35rem;
  /* stylelint-disable */
  height: 77dvh;
  /* stylelint-enable */
}

.reservationSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  opacity: 0;
  animation: fadeInTop 0.2s ease-in-out 0.4s forwards;
}

.reservationInfo {
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 7px 15px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid black;
  z-index: -1;
}

.reservationAttr {
  display: flex;
  width: 100%;
  max-width: 17rem;
  justify-content: space-between;
}

.attrName {
  font-size: 1.2rem;
  -webkit-text-stroke: 0.3px;
}

.reservationSlide .carImg::before {
  width: 100%;
  max-width: 15rem;
  height: 100%;
  max-height: 15rem;
}

.cancelReservationBtn {
  backdrop-filter: blur(8px);
  font-size: 1.3rem;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.281);
  color: black;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

.cancelReservationBtn:hover {
  background-color: black;
  color: white;
}
