.formCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
}

.reservationCont {
  background-image: url(../image/form4.webp);
  background-position: -50rem 50%;
  background-color: #56a557 !important;
}

.reservationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 35rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(8px);
  padding: 2rem;
}

.reservationForm .formTitle {
  margin-bottom: 0;
}

.reservationForm .formDesc {
  color: white;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2px solid white;
  margin-bottom: 0.5rem;
}

.reservationForm .inputCont {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reservationForm .formInput {
  width: 100%;
  max-width: 35rem;
  padding: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7rem;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(7px);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

.reservationForm .formInput:focus {
  outline: none;
}

.reservationForm .formInput::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

.formSelect {
  padding-right: 1rem;
}

.carSelector {
  background-color: #56a557;
}

.dateInput {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

/* MOBILE */

@media (min-width: 300px) {
  .reservationCont {
    background-image: url(../image/form4.webp);
    background-position: -40rem 50%;
  }
}

@media (min-width: 450px) {
  .reservationCont {
    background-image: url(../image/form4.webp);
    background-position: -55rem 50%;
  }
}

@media (min-width: 550px) {
  .reservationCont {
    background-image: url(../image/form4.webp);
    background-position: -50rem 50%;
  }
}

@media (min-width: 750px) {
  .reservationCont {
    background-image: url(../image/form4.webp);
    background-position: -55rem 50%;
  }
}

@media (min-width: 1024px) {
  .reservationCont {
    background-image: url(../image/form4.webp);
    background-position: center;
    background-size: contain;
  }
}

/* MOBILE */
