/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Roboto, sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
